Package: ndbweather
Name: ndbweather
Version: 1.0
Architecture: iphoneos-arm
Description: Redirect Weather app requests to Notdbrand.com!
Maintainer: notdbrand
Author: notdbrand
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)

